html, .view body { 
	background-color: #ff9900; 
	counter-reset: slideidx;
	background-image: url('img/fondo_elefantes.gif');
}
body, .view section { 
	background-color: white; 
	border-radius: 12px;
	border:1px solid #C0C0C0;
}

section {
	box-shadow: -5px -5px 10px 0px #C0C0C0 inset; 
}

/* A section is a slide. It's size is 800x600, and this will never change */
section, .view head > title {
      /* The font from Google */
      /*font-family: 'Oswald', arial, serif;*/
      font-family: freesans, arial, serif;
      font-size: 30px;
  }

.view section:after {
	counter-increment: slideidx;
	content: counter(slideidx, decimal-leading-zero);
	position: absolute; bottom: -80px; right: 100px;
	color: white;
}

.view head > title {
	color: white;
	text-align: center;
	margin: 1em 0 1em 0;
}

h1 {
	margin-top: 360px;
	text-align: center;
	font-size: 50px;
	color: #FFBF00;
	text-shadow:2px 2px #DFDFDF;
}
h2 {
	margin-top: 20px;
	text-align: center;
	font-size: 30px;
	color: #FFBF00;
	text-shadow:2px 2px #DFDFDF;
}
h3 {
	margin: 100px 0 50px 100px;
}

h4 {
	background-color: #FFBF00;
    background-image: url("img/elefante.png");
    background-origin: border-box;
    background-position: 10px 2px;
    background-repeat: no-repeat;
    background-size: 55px 55px;
    color: white;
    margin: 0;
    padding: 10px 75px;
}

ul, ol {
	margin: 20px 100px;
}

li {
	margin-top: 10px;
}

p {
	font-size: 40px;
    margin: 0;
    padding: 10px 40px;
}

blockquote {
height: 100%;
background-color: black;
color: white;
font-size: 60px;
padding: 50px;
}
blockquote:before {
content: open-quote;
}
blockquote:after {
content: close-quote;
}

/* Figures are displayed full-page, with the caption
 on top of the image/video */
figure {
	/*background-color: black;
	width: 100%;
	height: 100%;
	*/
}
figure > * {
position: absolute;
}
figure > video {
width: 100%; height: 100%;
}
figure > img {
	/*width: 100%; height: 100%;*/
	margin: 0 auto 0 25%;
}
figcaption {
margin: 70px;
font-size: 50px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 40px;
	text-align: right;
	background-color: #F3F4F8;
	/*border-top: 1px solid #CCC;*/
	box-shadow: -5px -5px 10px 0px #C0C0C0 inset; 
	color: #C0C0C0;
	font-style:oblique;
	text-shadow:2px 2px #DFDFDF;
}

/* Transition effect */
/* Feel free to change the transition effect for original
 animations. See here:
 https://developer.mozilla.org/en/CSS/CSS_transitions
 How to use CSS3 Transitions: */
section {
-moz-transition: left 400ms linear 0s;
-webkit-transition: left 400ms linear 0s;
-ms-transition: left 400ms linear 0s;
transition: left 400ms linear 0s;
}
.view section {
-moz-transition: none;
-webkit-transition: none;
-ms-transition: none;
transition: none;
}

.view section[aria-selected] {
border: 5px red solid;
}

  /* Before */
  section { left: -150%; }
  /* Now */
  section[aria-selected] { left: 0; }
  /* After */
  section[aria-selected] ~ section { left: +150%; }

  /* Incremental elements */

  /* By default, visible */
  .incremental > * { opacity: 1; }

  /* The current item */
  .incremental > *[aria-selected] { opacity: 1; }

  /* The items to-be-selected */
  .incremental > *[aria-selected] ~ * { opacity: 0; }

  /* The progressbar, at the bottom of the slides, show the global
     progress of the presentation. */
  #progress-bar {
    height: 2px;
    background: #AAA;
  }
